.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.home-main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.home-main-section .lady-image {
    background-image: url(images/musicgirl.png);
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}

@media (max-width: 900px) {
    .home-main-section .img-wrapper {
        display: none;
    }

    .home-main-section {
        justify-content: center;
    }
}

.home-page-circle-1 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: rgba(251, 218, 167, 0.1);
    bottom: 5vw;
    left: 5vw;
    z-index: -1;
}

.home-page-circle-2 {
    position: absolute;
    width: 8.5vw;
    height: 8.5vw;
    border-radius: 50%;
    background-color: rgba(29, 19, 7, 0.3);
    top: 10vw;
    left: 30vw;
    z-index: -1;
}

.home-page-circle-3 {
    position: absolute;
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.home-page-circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    Width: 100%;
    border-radius: 50%;
    background-color: rgba(25, 19, 6, 0.3);  
}